<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer mdl-color--grey-100">
	<header class="mdl-layout__header header">
		<div class="mdl-layout__header-row">
			<!-- Title -->
			<!-- <span class="mdl-layout-title">Title</span> -->
			<div class="mdl-color--white mdl-shadow--2dp searchbar-form">
				<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label searchbar-field">
					<input class="mdl-textfield__input" type="text" id="searchbar">
					<label class="mdl-textfield__label" for="searchbar">搜尋</label>
				</div>
				<label class="mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">search</i>
				</label>
			</form>
			</div>
			
			<!-- Add spacer, to align navigation to the right -->
			<div class="mdl-layout-spacer"></div>
			<!-- Navigation
			<nav class="mdl-navigation mdl-layout--large-screen-only navigation">
				<a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">account_circle</i>0936000111</a>
			</nav> -->
			<button id="menu-button"
							class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
				<i class="material-icons">more_vert</i>
			</button>
			<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-button">
				<li class="mdl-menu__item nav-menu"><a href="logout" style="font-weight:normal;">登出</a></li>
			</ul>
		</div>
	</header>
	<div class="mdl-layout__drawer drawer">
		<header class="drawer-header">
			<img src="assets/img/mini_logo.png" class="mini-icon">
		</header>
		<nav class="mdl-navigation navigation">
			<a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link is-active" href="#index"><i class="material-icons" role="presentation">home</i>首頁</a>
			<a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link" href="#shop-detail"><i class="material-icons" role="presentation">store_mall_directory</i>店鋪</a>
			<a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link" href="#user-detail"><i class="material-icons" role="presentation">supervisor_account</i>使用者</a>
			<a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link" href="#container-detail"><i class="material-icons" role="presentation">local_drink</i>容器</a>
		</nav>
	</div>
	<main class="mdl-layout__content">
		<section class="mdl-grid main-content is-active" id="index">
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span><i class="material-icons" role="presentation">supervisor_account</i>會員數</span><span>224</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span><i class="material-icons" role="presentation">store_mall_directory</i>店鋪數</span><span>18</span></span>
			</div>
			<div class="mdl-cell mdl-cell--12-col content-title">
				<span class="content-title-history"><i class="material-icons" role="presentation">restore</i>所有紀錄</span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>使用量</span><span>23k</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>遺失量</span><span class="warning">20</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>平均使用時間</span><span>3天5小時</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>A借B還</span><span>38</span></span>
			</div>
			<div class="mdl-cell mdl-cell--12-col content-title">
				<span class="content-title-history"><i class="material-icons" role="presentation">restore</i>最近7日</span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>使用量</span><span>23k</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>遺失量</span><span class="warning">20</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>平均使用時間</span><span>3天5小時</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>A借B還</span><span>38</span></span>
			</div>
		</section>
		<section class="mdl-grid main-content" id="shop">
			<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
				<table class="mdl-data-table mdl-js-data-table">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">名稱<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>可用數量<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>今日用量<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>當周累計<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>每周平均<i class="material-icons" role="presentation">arrow_drop_down</i></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
							<td>25</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
							<td>50</td>
							<td>$1.25</td>
							<td>$1.90</td>
							<td>$2.90</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
							<td>10</td>
							<td>$2.35</td>
							<td>$2.90</td>
							<td>$2.90</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="mdl-grid main-content" id="shop-detail">
			<div class="mdl-cell mdl-cell--9-col mdl-shadow--2dp content-block-detail-container is-expanded">
				<div class="content-block content-block-detail-outer mdl-color--white">
					<span class="content-block-detail">
						<span class="content-block-inline"><i class="material-icons" role="presentation">store_mall_directory</i>布萊恩紅茶</span>
						<span><span>可用數量</span><span>3</span></span>
						<span><span>今日用量</span><span>6</span></span>
						<span><span>當週累計</span><span>10</span></span>
					</span>
					<span><i class="material-icons" role="presentation">expand_more</i></span>
				</div>
				<div class="content-block content-block-detail-footer">
					<div>
						<button type="button" class="mdl-chip detail-active-button">
							<span class="mdl-chip__text">Active<i class="material-icons" role="presentation">expand_more</i></span>
						</button>
						<span class="mdl-chip">
							<span class="mdl-chip__text">2017-06-22</span>
						</span>
						<span class="mdl-chip">
							<span class="mdl-chip__text">聯絡人</span>
						</span>
						<span class="mdl-chip">
							<span class="mdl-chip__text">0988555666</span>
						</span>
					</div>
					<button class="mdl-button mdl-js-button mdl-button--raised detail-edit-button">
						編輯
					</button>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--3-col content-block content-block-spacer">
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>最近7天使用率</span><span class="warning"><i class="material-icons" role="presentation">arrow_downward</i>3%</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>每周平均使用量</span><span>12</span></span>
			</div>
			<div class="mdl-cell mdl-cell--12-col content-title">
				<span class="content-title-history"><i class="material-icons" role="presentation">restore</i>使用紀錄</span>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
				<table class="mdl-data-table mdl-js-data-table">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">時間<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th class="mdl-data-table__cell--non-numeric">項目<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th class="mdl-data-table__cell--non-numeric">狀態<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th class="mdl-data-table__cell--non-numeric">擁有者<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th class="mdl-data-table__cell--non-numeric">經手人<i class="material-icons" role="presentation">arrow_drop_down</i></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
							<td class="mdl-data-table__cell--non-numeric">25</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
							<td class="mdl-data-table__cell--non-numeric">50</td>
							<td class="mdl-data-table__cell--non-numeric">$1.25</td>
							<td class="mdl-data-table__cell--non-numeric">$1.90</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
							<td class="mdl-data-table__cell--non-numeric">10</td>
							<td class="mdl-data-table__cell--non-numeric">$2.35</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="mdl-grid main-content" id="user">
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>總會員數</span><span>2500</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>總使用量</span><span>2500</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>每周平均使用量</span><span>2500</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>遺失率</span><span class="warning">0.02%</span></span>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--2dp content-block-table">
				<table class="mdl-data-table mdl-js-data-table">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">ID<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>使用中<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>遺失<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>累計<i class="material-icons" role="presentation">arrow_drop_down</i></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
							<td>25</td>
							<td>$2.90</td>
							<td>$2.90</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
							<td>50</td>
							<td>$1.25</td>
							<td>$1.90</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
							<td>10</td>
							<td>$2.35</td>
							<td>$2.90</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="mdl-grid main-content" id="user-detail">
			<div class="mdl-cell mdl-cell--9-col mdl-shadow--2dp content-block-detail-container is-expanded">
				<div class="content-block content-block-detail-outer mdl-color--white">
					<span class="content-block-detail">
						<span class="content-block-inline"><i class="material-icons" role="presentation">person</i>0936033091</span>
						<span><span>使用者</span><span>3</span></span>
						<span><span>遺失</span><span class="warning">23</span></span>
						<span><span>累計</span><span>200</span></span>
					</span>
					<span><i class="material-icons" role="presentation">expand_more</i></span>
				</div>
				<div class="content-block content-block-detail-footer">
					<div>
						<button type="button" class="mdl-chip detail-active-button">
							<span class="mdl-chip__text">Active<i class="material-icons" role="presentation">expand_more</i></span>
						</button>
						<span class="mdl-chip">
							<span class="mdl-chip__text">2017-06-22</span>
						</span>
						<span class="mdl-chip">
							<span class="mdl-chip__text">從哪加入</span>
						</span>
						<span class="mdl-chip">
							<span class="mdl-chip__text">聯絡人</span>
						</span>
						<span class="mdl-chip">
							<span class="mdl-chip__text">0988555666</span>
						</span>
					</div>
					<button class="mdl-button mdl-js-button mdl-button--raised detail-edit-button">
						編輯
					</button>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--3-col content-block content-block-spacer">
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>最近7天使用率</span><span class="warning"><i class="material-icons" role="presentation">arrow_downward</i>3%</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>每周平均使用量</span><span>12</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>平均占用時間</span><span>20min</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>A借B還</span><span>43%</span></span>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
				<table class="mdl-data-table mdl-js-data-table">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">容器<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th class="mdl-data-table__cell--non-numeric">使用<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th class="mdl-data-table__cell--non-numeric">歸還<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th class="mdl-data-table__cell--non-numeric">佔用時間<i class="material-icons" role="presentation">arrow_drop_down</i></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
							<td class="mdl-data-table__cell--non-numeric">25</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
							<td class="mdl-data-table__cell--non-numeric">50</td>
							<td class="mdl-data-table__cell--non-numeric">$1.25</td>
							<td class="mdl-data-table__cell--non-numeric">$1.90</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
							<td class="mdl-data-table__cell--non-numeric">10</td>
							<td class="mdl-data-table__cell--non-numeric">$2.35</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="mdl-grid main-content" id="container">
			<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
				<table class="mdl-data-table mdl-js-data-table">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">類別<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>總量<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>待使用<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>使用中<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>已歸還<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>待清洗<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>待配送<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>待簽收<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>庫存<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th>遺失<i class="material-icons" role="presentation">arrow_drop_down</i></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
							<td>25</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
							<td>50</td>
							<td>$1.25</td>
							<td>$1.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
							<td>10</td>
							<td>$2.35</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
							<td>$2.90</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="mdl-grid main-content" id="container-detail">
			<div class="mdl-cell mdl-cell--9-col mdl-shadow--2dp content-block-detail-container is-expanded">
				<div class="content-block content-block-detail-outer mdl-color--white">
					<span class="content-block-detail">
						<span class="content-block-inline"><span class="goodtogo-icons container-1"></span>#017　16oz杯子</span>
						<span class="mdl-chip">
							<span class="mdl-chip__text">使用中</span>
						</span>
						<span><span>@</span><span>0921630931</span></span>
					</span>
					<span><i class="material-icons" role="presentation">expand_more</i></span>
				</div>
				<div class="content-block content-block-detail-footer">
					<div>
						<button type="button" class="mdl-chip detail-active-button">
							<span class="mdl-chip__text">Active<i class="material-icons" role="presentation">expand_more</i></span>
						</button>
						<span class="mdl-chip">
							<span class="mdl-chip__text">2017-06-22</span>
						</span>
					</div>
					<button class="mdl-button mdl-js-button mdl-button--raised detail-edit-button">
						<span class="mdl-chip__text">編輯</span>
					</button>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--12-col content-title">
				<span class="content-title-history"><i class="material-icons" role="presentation">restore</i>使用紀錄</span>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
				<table class="mdl-data-table mdl-js-data-table">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">時間<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th class="mdl-data-table__cell--non-numeric">狀態<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th class="mdl-data-table__cell--non-numeric">擁有者<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th class="mdl-data-table__cell--non-numeric">經手人<i class="material-icons" role="presentation">arrow_drop_down</i></th>
							<th class="mdl-data-table__cell--non-numeric">備註<i class="material-icons" role="presentation">arrow_drop_down</i></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
							<td class="mdl-data-table__cell--non-numeric">25</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
							<td class="mdl-data-table__cell--non-numeric">50</td>
							<td class="mdl-data-table__cell--non-numeric">$1.25</td>
							<td class="mdl-data-table__cell--non-numeric">$1.90</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
							<td class="mdl-data-table__cell--non-numeric">10</td>
							<td class="mdl-data-table__cell--non-numeric">$2.35</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
							<td class="mdl-data-table__cell--non-numeric">$2.90</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</main>
</div>