<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer mdl-color--grey-100">
	<header class="mdl-layout__header header">
		<div class="mdl-layout__header-row">
			<!-- Title -->
			<span class="mdl-layout-title title">好 盒 器 | 後臺管理系統</span>
			<!-- Add spacer, to align navigation to the right -->
			<div class="mdl-layout-spacer"></div>
			<!-- Navigation
			<nav class="mdl-navigation mdl-layout--large-screen-only navigation">
				<a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">account_circle</i>0936000111</a>
			</nav> -->
			<button id="menu-button"
							class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
				<i class="material-icons">more_vert</i>
			</button>
			<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-button">
				<li class="mdl-menu__item nav-menu"><a href="logout" style="font-weight:normal;">登出</a></li>
			</ul>
		</div>
	</header>
	<div class="mdl-layout__drawer drawer">
		<header class="drawer-header">
			<img src="assets/img/mini_logo.png" class="mini-icon">
		</header>
		<nav class="mdl-navigation navigation">
			<a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link is-active" href="#index"><i class="material-icons" role="presentation">home</i>首頁</a>
			<a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link" href="#shop-detail"><i class="material-icons" role="presentation">store_mall_directory</i>店鋪</a>
			<a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link" href="#user-detail"><i class="material-icons" role="presentation">supervisor_account</i>使用者</a>
			<a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link" href="#container-detail"><i class="material-icons" role="presentation">local_drink</i>容器</a>
		</nav>
	</div>
	<main class="mdl-layout__content">
		<section class="mdl-grid main-content is-active" id="index">
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span><i class="material-icons" role="presentation">supervisor_account</i>會員數量</span><span>824</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span><i class="material-icons" role="presentation">store_mall_directory</i>店鋪數量</span><span>18</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span><i class="material-icons" role="presentation">event</i>活動數量</span><span>62</span></span>
			</div>
			<div class="mdl-cell mdl-cell--12-col content-title">
				<span class="content-title-history"><i class="material-icons" role="presentation">restore</i>活動總紀錄</span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>使用量</span><span>16,774</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>遺失數量</span><span>135 (0.8%)</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>使用時間</span><span>2小時18分</span></span>
			</div>
			<div class="mdl-cell mdl-cell--12-col content-title">
				<span class="content-title-history"><i class="material-icons" role="presentation">restore</i>店鋪總紀錄</span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>使用量</span><span>6,487</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>遺失數量</span><span>248 (3.8%)</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>使用時間</span><span>16小時42分</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>A借B還</span><span>796 (12.3%)</span></span>
			</div>
			<div class="mdl-cell mdl-cell--12-col content-title">
				<span class="content-title-history"><i class="material-icons" role="presentation">restore</i>店鋪最近七日</span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>使用量</span><span>87</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>遺失數量</span><span>3 (3.4%)</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>使用時間</span><span>19小時27分</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>A借B還</span><span>23 (26.4%)</span></span>
			</div>
			<div class="mdl-cell mdl-cell--12-col content-title"></div>
			<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
				<table class="mdl-data-table mdl-js-data-table">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">類別</th>
							<th>總量</th>
							<th>待使用</th>
							<th>使用中</th>
							<th>已歸還</th>
							<th>待清洗</th>
							<th>待配送</th>
							<th>待簽收</th>
							<th>庫存</th>
							<th>遺失</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">16oz 玻璃杯</td>
							<td>386</td>
							<td>106</td>
							<td>20</td>
							<td>19</td>
							<td>41</td>
							<td>24</td>
							<td>0</td>
							<td>15</td>
							<td>161</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">12oz 玻璃杯</td>
							<td>393</td>
							<td>50</td>
							<td>23</td>
							<td>17</td>
							<td>22</td>
							<td>0</td>
							<td>0</td>
							<td>111</td>
							<td>170</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">16oz 把手杯</td>
							<td>56</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>49</td>
							<td>4</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">4oz 冰淇淋杯</td>
							<td>47</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>24</td>
							<td>22</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">野餐方盤</td>
							<td>1015</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>50</td>
							<td>0</td>
							<td>0</td>
							<td>950</td>
							<td>15</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">野餐方碗</td>
							<td>656</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>245</td>
							<td>0</td>
							<td>0</td>
							<td>399</td>
							<td>11</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="mdl-grid main-content" id="shop-detail">
			<div class="mdl-cell mdl-cell--9-col mdl-shadow--2dp content-block-detail-container">
				<div class="content-block content-block-detail-outer mdl-color--white">
					<span class="content-block-detail">
						<span class="content-block-inline"><i class="material-icons" role="presentation">store_mall_directory</i>布萊恩紅茶</span>
						<span><span>可用數量</span><span>24</span></span>
						<span><span>今日用量</span><span>2</span></span>
						<span><span>當週累計</span><span>18</span></span>
					</span>
					<span><i class="material-icons" role="presentation">expand_more</i></span>
				</div>
				<div class="content-block content-block-detail-footer">
					<div>
						<button type="button" class="mdl-chip detail-active-button">
							<span class="mdl-chip__text">Active<i class="material-icons" role="presentation">expand_more</i></span>
						</button>
						<span class="mdl-chip">
							<span class="mdl-chip__text">2017-06-22</span>
						</span>
						<span class="mdl-chip">
							<span class="mdl-chip__text">聯絡人: 店長</span>
						</span>
						<span class="mdl-chip">
							<span class="mdl-chip__text">0988555666</span>
						</span>
					</div>
					<button class="mdl-button mdl-js-button mdl-button--raised detail-edit-button">
						編輯
					</button>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--3-col content-block content-block-spacer">
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>最近7天使用量</span><span>18 (<i class="material-icons" role="presentation">arrow_upward</i>16%)</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>每週平均使用量</span><span>10</span></span>
			</div>
			<div class="mdl-cell mdl-cell--12-col content-title">
				<span class="content-title-history"><i class="material-icons" role="presentation">restore</i>使用紀錄</span>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
				<table class="mdl-data-table mdl-js-data-table">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">時間</th>
							<th class="mdl-data-table__cell--non-numeric">項目</th>
							<th class="mdl-data-table__cell--non-numeric">狀態</th>
							<th class="mdl-data-table__cell--non-numeric">擁有者</th>
							<th class="mdl-data-table__cell--non-numeric">經手人</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-05 13:24</td>
							<td class="mdl-data-table__cell--non-numeric">#161</td>
							<td class="mdl-data-table__cell--non-numeric">借出</td>
							<td class="mdl-data-table__cell--non-numeric">0911-***-521</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶(阿呆店長)</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-05 13:23</td>
							<td class="mdl-data-table__cell--non-numeric">#254</td>
							<td class="mdl-data-table__cell--non-numeric">借出</td>
							<td class="mdl-data-table__cell--non-numeric">0958-***-297</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶(阿呆店長)</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-04 18:04</td>
							<td class="mdl-data-table__cell--non-numeric">#1452</td>
							<td class="mdl-data-table__cell--non-numeric">借出</td>
							<td class="mdl-data-table__cell--non-numeric">0987-***-354</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶(Jamie)</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-04 16:39</td>
							<td class="mdl-data-table__cell--non-numeric">#184</td>
							<td class="mdl-data-table__cell--non-numeric">借出</td>
							<td class="mdl-data-table__cell--non-numeric">0984-***-355</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶(Jamie)</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-04 16:27</td>
							<td class="mdl-data-table__cell--non-numeric">#258</td>
							<td class="mdl-data-table__cell--non-numeric">借出</td>
							<td class="mdl-data-table__cell--non-numeric">0978-***-923</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶(Jamie)</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-04 14:58</td>
							<td class="mdl-data-table__cell--non-numeric">#269</td>
							<td class="mdl-data-table__cell--non-numeric">借出</td>
							<td class="mdl-data-table__cell--non-numeric">0912-***-432</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶(Jamie)</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-04 12:21</td>
							<td class="mdl-data-table__cell--non-numeric">#1532</td>
							<td class="mdl-data-table__cell--non-numeric">借出</td>
							<td class="mdl-data-table__cell--non-numeric">0972-***-434</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶(阿呆店長)</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-03 16:43</td>
							<td class="mdl-data-table__cell--non-numeric">#073002</td>
							<td class="mdl-data-table__cell--non-numeric">簽收</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶(阿呆店長)</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-03 16:43</td>
							<td class="mdl-data-table__cell--non-numeric">#073003</td>
							<td class="mdl-data-table__cell--non-numeric">簽收</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶(阿呆店長)</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-02 18:06</td>
							<td class="mdl-data-table__cell--non-numeric">#073002</td>
							<td class="mdl-data-table__cell--non-numeric">配送</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
							<td class="mdl-data-table__cell--non-numeric">好盒器(雅凰)</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-02 18:06</td>
							<td class="mdl-data-table__cell--non-numeric">#073003</td>
							<td class="mdl-data-table__cell--non-numeric">配送</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
							<td class="mdl-data-table__cell--non-numeric">好盒器(雅凰)</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-02 19:01</td>
							<td class="mdl-data-table__cell--non-numeric">#262</td>
							<td class="mdl-data-table__cell--non-numeric">歸還</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶</td>
							<td class="mdl-data-table__cell--non-numeric">布萊恩紅茶(Jamie)</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="mdl-grid main-content" id="user-detail">
			<div class="mdl-cell mdl-cell--9-col mdl-shadow--2dp content-block-detail-container">
				<div class="content-block content-block-detail-outer mdl-color--white">
					<span class="content-block-detail">
						<span class="content-block-inline"><i class="material-icons" role="presentation">person</i>0911-222-333</span>
						<span><span>使用中</span><span>1</span></span>
						<span><span>遺失</span><span>0</span></span>
						<span><span>累計使用量</span><span>86</span></span>
					</span>
					<span><i class="material-icons" role="presentation">expand_more</i></span>
				</div>
				<div class="content-block content-block-detail-footer">
					<div>
						<button type="button" class="mdl-chip detail-active-button">
							<span class="mdl-chip__text">Active<i class="material-icons" role="presentation">expand_more</i></span>
						</button>
						<span class="mdl-chip">
							<span class="mdl-chip__text">加入日期: 2017-06-22 (1年44天)</span>
						</span>
						<span class="mdl-chip">
							<span class="mdl-chip__text">管道: 店鋪 (方糖咖啡)</span>
						</span>
					</div>
					<button class="mdl-button mdl-js-button mdl-button--raised detail-edit-button">
						編輯
					</button>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--3-col content-block content-block-spacer">
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>最近7天使用量</span><span class="warning">4 (<i class="material-icons" role="presentation">arrow_downward</i>20%)</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>每週平均使用量</span><span>5.2</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>平均使用時間</span><span>1天4小時</span></span>
			</div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
				<span class="content-block-data"><span>A借B還</span><span>18 (20.9%)</span></span>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
				<table class="mdl-data-table mdl-js-data-table">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">容器ID</th>
							<th class="mdl-data-table__cell--non-numeric">使用</th>
							<th class="mdl-data-table__cell--non-numeric">歸還</th>
							<th class="mdl-data-table__cell--non-numeric">使用時間</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">12oz 玻璃杯<br>#22</td>
							<td class="mdl-data-table__cell--non-numeric">2018-08-03 (Fri) 09:07<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric warning">尚未歸還</td>
							<td class="mdl-data-table__cell--non-numeric warning">2天16小時</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">12oz 玻璃杯<br>#556</td>
							<td class="mdl-data-table__cell--non-numeric">2018-08-02 (Thu) 09:21<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">2018-08-03 (Fri) 09:03<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">23小時42分鐘</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">12oz 玻璃杯<br>#874</td>
							<td class="mdl-data-table__cell--non-numeric">2018-08-02 (Thu) 09:21<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">2018-08-03 (Fri) 09:03<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">23小時42分鐘</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">16oz 玻璃杯<br>#1531</td>
							<td class="mdl-data-table__cell--non-numeric">2018-08-01 (Wed) 09:10<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">2018-08-02 (Thu) 09:19<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">1天0小時9分鐘</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">16oz 玻璃杯<br>#1367</td>
							<td class="mdl-data-table__cell--non-numeric">2018-07-31 (Tue) 09:26<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">2018-08-01 (Wed) 09:09<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">23小時43分鐘</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">16oz 玻璃杯<br>#266</td>
							<td class="mdl-data-table__cell--non-numeric">2018-07-30 (Mon) 09:12<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">2018-07-31 (Tue) 09:25<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">1天0小時13分鐘</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">12oz 玻璃杯<br>#1164</td>
							<td class="mdl-data-table__cell--non-numeric">2018-07-29 (Sun) 14:23<br>樹有風</td>
							<td class="mdl-data-table__cell--non-numeric">2018-07-30 (Mon) 09:10<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">18小時47分鐘</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">12oz 玻璃杯<br>#884</td>
							<td class="mdl-data-table__cell--non-numeric">2018-07-29 (Sun) 14:23<br>樹有風</td>
							<td class="mdl-data-table__cell--non-numeric">2018-07-30 (Mon) 09:10<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">18小時47分鐘</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">12oz 玻璃杯<br>#3070</td>
							<td class="mdl-data-table__cell--non-numeric">2018-07-29 (Sun) 14:23<br>樹有風</td>
							<td class="mdl-data-table__cell--non-numeric">2018-07-30 (Mon) 09:10<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">18小時47分鐘</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">12oz 玻璃杯<br>#609</td>
							<td class="mdl-data-table__cell--non-numeric">2018-07-29 (Sun) 14:23<br>樹有風</td>
							<td class="mdl-data-table__cell--non-numeric">2018-07-30 (Mon) 09:10<br>方糖咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">18小時47分鐘</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="mdl-grid main-content" id="container-detail">
			<div class="mdl-cell mdl-cell--9-col mdl-shadow--2dp content-block-detail-container">
				<div class="content-block content-block-detail-outer mdl-color--white">
					<span class="content-block-detail">
						<span class="content-block-inline"><span class="goodtogo-icons container-1"></span>#257　16oz 玻璃杯</span>
						<span><span>循環次數</span><span>24</span></span>
						<span class="mdl-chip"><span class="mdl-chip__text">使用中</span></span>
						<span><span>@</span><span>0921-***-931</span></span>
					</span>
					<span><i class="material-icons" role="presentation">expand_more</i></span>
				</div>
				<div class="content-block content-block-detail-footer">
					<div>
						<button type="button" class="mdl-chip detail-active-button">
							<span class="mdl-chip__text">Active<i class="material-icons" role="presentation">expand_more</i></span>
						</button>
						<span class="mdl-chip">
							<span class="mdl-chip__text">2017-06-22</span>
						</span>
					</div>
					<button class="mdl-button mdl-js-button mdl-button--raised detail-edit-button">
						<span class="mdl-chip__text">編輯</span>
					</button>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--12-col content-title">
				<span class="content-title-history"><i class="material-icons" role="presentation">restore</i>使用紀錄</span>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
				<table class="mdl-data-table mdl-js-data-table">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">時間</th>
							<th class="mdl-data-table__cell--non-numeric">狀態</th>
							<th class="mdl-data-table__cell--non-numeric">擁有者</th>
							<th class="mdl-data-table__cell--non-numeric">經手人</th>
							<th class="mdl-data-table__cell--non-numeric">備註</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-04 15:31</td>
							<td class="mdl-data-table__cell--non-numeric">借出</td>
							<td class="mdl-data-table__cell--non-numeric">0921-***-931</td>
							<td class="mdl-data-table__cell--non-numeric">特有種商行(小衛)</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-03 18:13</td>
							<td class="mdl-data-table__cell--non-numeric">簽收</td>
							<td class="mdl-data-table__cell--non-numeric">特有種商行</td>
							<td class="mdl-data-table__cell--non-numeric">特有種商行(小衛)</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-02 12:02</td>
							<td class="mdl-data-table__cell--non-numeric">配送</td>
							<td class="mdl-data-table__cell--non-numeric">好盒器基地</td>
							<td class="mdl-data-table__cell--non-numeric">好盒器(雅凰)</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-08-01 11:52</td>
							<td class="mdl-data-table__cell--non-numeric">裝箱</td>
							<td class="mdl-data-table__cell--non-numeric">好盒器基地</td>
							<td class="mdl-data-table__cell--non-numeric">好盒器(雅凰)</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-07-31 17:37</td>
							<td class="mdl-data-table__cell--non-numeric">回收</td>
							<td class="mdl-data-table__cell--non-numeric">清洗站</td>
							<td class="mdl-data-table__cell--non-numeric">好盒器(雅凰)</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-07-30 13:00</td>
							<td class="mdl-data-table__cell--non-numeric">歸還</td>
							<td class="mdl-data-table__cell--non-numeric">正興咖啡館</td>
							<td class="mdl-data-table__cell--non-numeric">正興咖啡館(雅欣)</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-07-29 13:00</td>
							<td class="mdl-data-table__cell--non-numeric">借出</td>
							<td class="mdl-data-table__cell--non-numeric">0970-***-127</td>
							<td class="mdl-data-table__cell--non-numeric">正興咖啡館(雅欣)</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-07-27 19:26</td>
							<td class="mdl-data-table__cell--non-numeric">簽收</td>
							<td class="mdl-data-table__cell--non-numeric">正興咖啡館</td>
							<td class="mdl-data-table__cell--non-numeric">正興咖啡館(撕鞋)</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-07-26 15:38</td>
							<td class="mdl-data-table__cell--non-numeric">配送</td>
							<td class="mdl-data-table__cell--non-numeric">好盒器基地</td>
							<td class="mdl-data-table__cell--non-numeric">好盒器(雅凰)</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-07-25 10:48</td>
							<td class="mdl-data-table__cell--non-numeric">裝箱</td>
							<td class="mdl-data-table__cell--non-numeric">好盒器基地</td>
							<td class="mdl-data-table__cell--non-numeric">好盒器(雅凰)</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-07-25 09:41</td>
							<td class="mdl-data-table__cell--non-numeric">回收</td>
							<td class="mdl-data-table__cell--non-numeric">清洗站</td>
							<td class="mdl-data-table__cell--non-numeric">好盒器(雅凰)</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">2018-07-18 17:17</td>
							<td class="mdl-data-table__cell--non-numeric">歸還</td>
							<td class="mdl-data-table__cell--non-numeric">樹有風咖啡</td>
							<td class="mdl-data-table__cell--non-numeric">樹有風咖啡(老闆)</td>
							<td class="mdl-data-table__cell--non-numeric"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</main>
</div>