<div id="loading_main" class="mdl-color--grey-100"></div>
<div id="app" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer mdl-color--grey-100">
   <header class="mdl-layout__header header">
      <div :class="{'show-navigate_before':detailIsOpen}" class="mdl-layout__header-row">
         <!-- Title -->
         <!-- <span class="mdl-layout-title">Title</span> -->
         <div @click="closeDetail" class="header-button">
            <i class="material-icons">navigate_before</i>
         </div>
         <div :class="{'is-hide':detailIsOpen}" class="mdl-color--white mdl-shadow--2dp searchbar-form">
            <div class="mdl-textfield mdl-js-textfield searchbar-field">
               <input @keyup.enter="searchData" class="mdl-textfield__input" type="text" id="searchbar" v-model="search.txt">
               <label class="mdl-textfield__label" for="searchbar">{{search.placeholder}}</label>
            </div>
            <label @click="searchData" class="mdl-button mdl-js-button mdl-button--icon">
               <i class="material-icons">search</i>
            </label>
         </div>

         <!-- Add spacer, to align navigation to the right -->
         <div class="mdl-layout-spacer"></div>
         <!-- Navigation -->
         <nav class="mdl-navigation mdl-layout--large-screen-only navigation">
            <a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">account_circle</i>
               <%- user.name %></a>
         </nav>
         <button id="menu-button" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
            <i class="material-icons">more_vert</i>
         </button>
         <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-button">
            <li class="mdl-menu__item nav-menu"><a href="logout" id="logout">登出</a></li>
         </ul>
      </div>
   </header>
   <div class="mdl-layout__drawer drawer">
      <header class="drawer-header">
         <img src="assets/img/mini_logo.svg" class="mini-icon">
         <span><i class="material-icons" role="presentation">account_circle</i>
            <%- user.name %></span>
      </header>
      <nav class="mdl-navigation navigation">
         <a :class="{'is-active':index.show}" @click="navClickListener('index')" class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link" href="#index"><i class="material-icons" role="presentation">home</i>首頁</a>
         <a :class="{'is-active':shop.show}" @click="navClickListener('shop')" class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link" href="#shop"><i class="material-icons" role="presentation">store_mall_directory</i>店鋪</a>
         <!-- <a :class="{'is-active':activity.show}" @click="navClickListener('activity')" class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link" href="#activity"><i class="material-icons" role="presentation">event</i>活動</a> -->
         <a :class="{'is-active':user.show}" @click="navClickListener('user')" class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link" href="#user"><i class="material-icons" role="presentation">supervisor_account</i>使用者</a>
         <a :class="{'is-active':container.show}" @click="navClickListener('container')" class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link" href="#container"><i class="material-icons" role="presentation">local_drink</i>容器</a>
         <!-- <a :class="{'is-active':delivery.show}" @click="navClickListener('delivery')" class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect drawer-link" href="#delivery"><i class="material-icons" role="presentation">local_shipping</i>配送</a> -->
      </nav>
   </div>
   <main class="mdl-layout__content content-container">
      <div id="loading" :class="{'is-loading':loading.show}">
         <div class="loading-container">
            <span>{{loading.txt}}</span>
            <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
         </div>
      </div>
      <section v-if="index.show" class="mdl-grid main-content" id="index">
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span><i class="material-icons" role="presentation">supervisor_account</i>會員數量</span><span>{{index.data.summary.userAmount | numberWithCommas}}</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span><i class="material-icons" role="presentation">store_mall_directory</i>店鋪數量</span><span>{{index.data.summary.storeAmount | numberWithCommas}}</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span><i class="material-icons" role="presentation">event</i>活動數量</span><span>{{index.data.summary.activityAmount | numberWithCommas}}</span></span>
         </div>
         <!-- <div class="mdl-cell mdl-cell--12-col content-title">
            <span class="content-title-history"><i class="material-icons" role="presentation">update</i><span>活動總紀錄</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>使用量</span><span>{{index.data.activityHistorySummary.usedAmount | numberWithCommas}}</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>遺失數量</span><span>{{index.data.activityHistorySummary.lostAmount | numberWithCommas}}<span class="data-percentage">{{index.data.activityHistorySummary.lostAmount / index.data.activityHistorySummary.usedAmount | numberToPercentage}}</span></span>
            </span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>使用時間</span><span>{{index.data.activityHistorySummary.totalDuration | durationToString}}</span></span>
         </div> -->
         <div class="mdl-cell mdl-cell--12-col content-title">
            <span class="content-title-history"><i class="material-icons" role="presentation">update</i><span>店鋪當週紀錄</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>使用量</span><span>{{index.data.shopRecentHistorySummary.usedAmount | numberWithCommas}}</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>使用時間</span><span>{{index.data.shopRecentHistorySummary.totalDuration | durationToString}}</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>A借B還</span><span>{{index.data.shopRecentHistorySummary.quantityOfBorrowingFromDiffPlace | numberWithCommas}}
                  <span class="data-percentage">{{index.data.shopRecentHistorySummary.quantityOfBorrowingFromDiffPlace / index.data.shopRecentHistorySummary.usedAmount | numberToPercentage}}</span></span>
            </span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>個人遺失</span><span>{{index.data.shopRecentHistorySummary.customerLostAmount | numberWithCommas}}
                  <span class="data-percentage">{{index.data.shopRecentHistorySummary.customerLostAmount / index.data.shopRecentHistorySummary.usedAmount | numberToPercentage}}</span></span>
            </span>
         </div>
         <div class="mdl-cell mdl-cell--12-col content-title">
            <span class="content-title-history"><i class="material-icons" role="presentation">update</i><span>店鋪總紀錄</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>使用量</span><span>{{index.data.shopHistorySummary.usedAmount | numberWithCommas}}</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>使用時間</span><span>{{index.data.shopHistorySummary.totalDuration | durationToString}}</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>A借B還</span><span>{{index.data.shopHistorySummary.quantityOfBorrowingFromDiffPlace | numberWithCommas}}<span class="data-percentage">{{index.data.shopHistorySummary.quantityOfBorrowingFromDiffPlace /
                     index.data.shopHistorySummary.usedAmount | numberToPercentage}}</span></span>
            </span>
            </span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>個人遺失</span><span>{{index.data.shopHistorySummary.customerLostAmount | numberWithCommas}}
                  <span class="data-percentage">{{index.data.shopHistorySummary.customerLostAmount / index.data.shopHistorySummary.usedAmount | numberToPercentage}}</span></span>
            </span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>店鋪遺失</span><span>{{index.data.shopHistorySummary.shopLostAmount | numberWithCommas}}
                  <span class="data-percentage">{{index.data.shopHistorySummary.shopLostAmount / index.data.shopHistorySummary.usedAmount | numberToPercentage}}</span></span>
            </span>
         </div>
      </section>
      <section :class="{'is-display':search.show}" id="search-detail">
         <div class="mdl-grid main-content">
            <div v-show="search.data.shop.list.length == 0 && search.data.user.list.length == 0 && search.data.container.list.length == 0" class="mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--2dp content-block">找不到資料 (╥﹏╥)</div>
            <div v-show="search.data.shop.list.length > 0" class="mdl-cell mdl-cell--12-col content-title">
               <button @click="search.data.shop.show = !search.data.shop.show" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons" role="presentation">store_mall_directory</i>店鋪<i class="material-icons" role="presentation">{{search.data.shop.show? 'expand_less' : 'expand_more'}}</i>
               </button>
            </div>
            <div v-show="search.data.shop.show" @click="aSearchResultClickListener('shop', aShop.id)" v-for="aShop in search.data.shop.list" :class="{'more-result':aShop.id===-1}" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
               <span class="content-block-inline"><i class="material-icons" role="presentation">store_mall_directory</i><span v-html="listMatchCtx(aShop.name)"></span></span>
            </div>
            <div v-show="search.data.user.list.length > 0" class="mdl-cell mdl-cell--12-col content-title">
               <button @click="search.data.user.show = !search.data.user.show" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons" role="presentation">supervisor_account</i>使用者<i class="material-icons" role="presentation">{{search.data.user.show? 'expand_less' : 'expand_more'}}</i>
               </button>
            </div>
            <div v-show="search.data.user.show" @click="aSearchResultClickListener('user', aUser.id)" v-for="aUser in search.data.user.list" :class="{'more-result':aUser.id===-1}" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
               <span class="content-block-inline"><i class="material-icons" role="presentation">person</i><span v-html="listMatchCtx(aUser.name)"></span></span>
            </div>
            <div v-show="search.data.container.list.length > 0" class="mdl-cell mdl-cell--12-col content-title">
               <button @click="search.data.container.show = !search.data.container.show" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons" role="presentation">local_drink</i>容器<i class="material-icons" role="presentation">{{search.data.container.show? 'expand_less' : 'expand_more'}}</i>
               </button>
            </div>
            <div v-show="search.data.container.show" @click="aSearchResultClickListener('container', aContainer.id)" v-for="aContainer in search.data.container.list" :class="{'more-result':aContainer.id===-1}" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
               <span class="content-block-inline"><span :class="'container-' + aContainer.type" class="goodtogo-icons"></span><span v-html="listMatchCtx(aContainer.name)"></span></span>
            </div>
            <div v-show="search.data.delivery.list.length > 0" class="mdl-cell mdl-cell--12-col content-title">
               <button @click="search.data.delivery.show = !search.data.delivery.show" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons" role="presentation">local_shipping</i>配送<i class="material-icons" role="presentation">{{search.data.delivery.show? 'expand_less' : 'expand_more'}}</i>
               </button>
            </div>
            <div v-show="search.data.delivery.show" v-for="aDelivery in search.data.delivery.list" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
               <span class="content-block-inline"><i class="material-icons" role="presentation">check_box_outline_blank</i>0936033091</span>
            </div>
         </div>
      </section>
      <section v-if="shop.show" :class="{'is-hide':shopDetail.show}" class="mdl-grid main-content" id="shop">
         <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
            <table class="mdl-data-table mdl-js-data-table">
               <thead>
                  <tr>
                     <th @click="sortList('id')" v-html="showKeySorting('名稱', 'id')" class="mdl-data-table__cell--non-numeric"></th>
                     <th @click="sortList('toUsedAmount')" v-html="showKeySorting('可用數量', 'toUsedAmount')"></th>
                     <th @click="sortList('todayAmount')" v-html="showKeySorting('今日用量', 'todayAmount')"></th>
                     <th @click="sortList('weekAmount')" v-html="showKeySorting('當週累計', 'weekAmount')"></th>
                     <th @click="sortList('weekAverage')" v-html="showKeySorting('每週平均', 'weekAverage')"></th>
                  </tr>
               </thead>
               <tbody v-if="shopList.length === 0">
                  <tr>
                     <td colspan="5" class="table-no-data">尚無資料</td>
                  </tr>
               </tbody>
               <tbody v-else>
                  <tr @click="aRecordClickListener('shop', aStore.id)" v-for="aStore in shopList.slice((listRendering.baseIndex - 1) * listRendering.rawCapacity, listRendering.baseIndex * listRendering.rawCapacity)">
                     <td class="mdl-data-table__cell--non-numeric" v-html="listMatchCtx(aStore.storeName)"></td>
                     <td>{{aStore.toUsedAmount}}</td>
                     <td>{{aStore.todayAmount}}</td>
                     <td>{{aStore.weekAmount}}</td>
                     <td>{{aStore.weekAverage}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="mdl-cell mdl-cell--12-col switcher-spacer"></div>
         <div tabindex="-1" v-show="listRendering.rawCapacity < shopList.length" class="table-page-switcher">
            <div class="table-page-switcher-container">
               <span :class="{disabled: listRendering.baseIndex === 1}" @click="flipPage('last')"><i class="material-icons" role="presentation">navigate_before</i></span>
               <span>{{listRendering.baseIndex}}｜{{Math.ceil(shopList.length / listRendering.rawCapacity)}}</span>
               <span :class="{disabled: listRendering.baseIndex === Math.ceil(shopList.length / listRendering.rawCapacity)}" @click="flipPage('next')"><i class="material-icons" role="presentation">navigate_next</i></span>
            </div>
         </div>
      </section>
      <section v-if="shop.show" :class="{'is-display':shopDetail.show}" id="shop-detail">
         <div class="mdl-grid main-content">
            <div :class="{'is-expanded':shopDetail.expand}" class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-detail-container">
               <div @click="shopDetail.expand = !shopDetail.expand" class="content-block content-block-detail-outer mdl-color--white mdl-js-button mdl-js-ripple-effect">
                  <span class="content-block-detail">
                     <span class="content-block-inline"><i class="material-icons" role="presentation">store_mall_directory</i>{{shopDetail.data.storeName}}</span>
                     <span><span>可用數量</span><span>{{shopDetail.data.toUsedAmount}}</span></span>
                     <span><span>今日用量</span><span>{{shopDetail.data.todayAmount}}</span></span>
                     <span>
                        <span>當週累計</span>
                        <span :class="{warning:shopDetail.data.weekAmountPercentage<0}">{{shopDetail.data.weekAmount}}<span class="data-percentage" v-html="numberToPercentage(shopDetail.data.weekAmountPercentage, 'withArrow')"></span>
                        </span></span>
                  </span>
                  <span><i class="material-icons" role="presentation">{{shopDetail.expand? 'expand_less' : 'expand_more'}}</i></span>
               </div>
               <div class="content-block content-block-detail-footer">
                  <div>
                     <button type="button" class="mdl-chip detail-active-button">
                        <span class="mdl-chip__text">Active<i class="material-icons" role="presentation">expand_more</i></span>
                     </button>
                     <span class="mdl-chip">
                        <span class="mdl-chip__text">{{shopDetail.data.joinedDate | dateToString('only_date')}}</span>
                     </span>
                     <span class="mdl-chip">
                        <span class="mdl-chip__text">聯絡人: {{shopDetail.data.contactNickname}}</span>
                     </span>
                     <span class="mdl-chip">
                        <span class="mdl-chip__text">{{shopDetail.data.contactPhone}}</span>
                     </span>
                  </div>
                  <button class="mdl-button mdl-js-button mdl-button--raised detail-edit-button">
                     編輯
                  </button>
               </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
               <span class="content-block-data"><span>每週平均使用量</span><span>{{shopDetail.data.weekAverage}}</span></span>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
               <span class="content-block-data"><span>總使用量</span><span>{{shopDetail.data.totalAmount}}</span></span>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
               <span class="content-block-data"><span>個人遺失</span><span :class="{warning:shopDetail.data.customerLostAmount>0}">{{shopDetail.data.customerLostAmount}}</span></span>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
               <span class="content-block-data"><span>店鋪遺失</span><span :class="{warning:shopDetail.data.shopLostAmount>0}">{{shopDetail.data.shopLostAmount}}</span></span>
            </div>
            <div class="mdl-cell mdl-cell--12-col content-title">
               <span class="content-title-history"><i class="material-icons" role="presentation">update</i>使用紀錄</span>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
               <table class="mdl-data-table mdl-js-data-table">
                  <thead>
                     <tr>
                        <th @click="sortList('time', 'time')" v-html="showKeySorting('時間', 'time')" class="mdl-data-table__cell--non-numeric"></th>
                        <th @click="sortList('serial', 'serial')" v-html="showKeySorting('項目', 'serial')" class="mdl-data-table__cell--non-numeric"></th>
                        <th @click="sortList('action', 'string')" v-html="showKeySorting('狀態', 'action')" class="mdl-data-table__cell--non-numeric"></th>
                        <th @click="sortList('owner', 'string')" v-html="showKeySorting('擁有者', 'owner')" class="mdl-data-table__cell--non-numeric"></th>
                        <th @click="sortList('by', 'string')" v-html="showKeySorting('經手人', 'by')" class="mdl-data-table__cell--non-numeric"></th>
                     </tr>
                  </thead>
                  <tbody v-if="shopDetailHistory.length === 0">
                     <tr>
                        <td colspan="5" class="table-no-data">尚無資料</td>
                     </tr>
                  </tbody>
                  <tbody v-else>
                     <tr v-for="aRecord in shopDetailHistory.slice((listRendering.baseIndex - 1) * listRendering.rawCapacity, listRendering.baseIndex * listRendering.rawCapacity)">
                        <td class="mdl-data-table__cell--non-numeric">{{aRecord.time | dateToString}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{aRecord.serial}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{aRecord.action}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{aRecord.owner}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{aRecord.by}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="mdl-cell mdl-cell--12-col switcher-spacer"></div>
            <div tabindex="-1" v-show="listRendering.rawCapacity < shopDetailHistory.length" class="table-page-switcher">
               <div class="table-page-switcher-container">
                  <span :class="{disabled: listRendering.baseIndex === 1}" @click="flipPage('last')"><i class="material-icons" role="presentation">navigate_before</i></span>
                  <span>{{listRendering.baseIndex}}｜{{Math.ceil(shopDetailHistory.length / listRendering.rawCapacity)}}</span>
                  <span :class="{disabled: listRendering.baseIndex === Math.ceil(shopDetailHistory.length / listRendering.rawCapacity)}" @click="flipPage('next')"><i class="material-icons" role="presentation">navigate_next</i></span>
               </div>
            </div>
         </div>
      </section>
      <section v-if="activity.show" class="mdl-grid main-content disabled" id="activity">
         <span>尚未開放</span>
      </section>
      <section v-if="user.show" :class="{'is-hide':userDetail.show}" class="mdl-grid main-content" id="user">
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>總會員數</span><span>{{user.data.totalUserAmount}}</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>總使用量</span><span>{{user.data.totalUsageAmount}}</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>每週平均使用量</span><span>{{user.data.weeklyAverageUsage}}</span></span>
         </div>
         <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
            <span class="content-block-data"><span>遺失率</span><span class="warning">{{( user.data.totalLostAmount / user.data.totalUsageAmount) | numberToPercentage('withoutParentheses')}}</span></span>
         </div>
         <div class="mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--2dp content-block-table">
            <table class="mdl-data-table mdl-js-data-table">
               <thead>
                  <tr>
                     <th @click="sortList('id', 'numberString')" v-html="showKeySorting('ID', 'id')" class="mdl-data-table__cell--non-numeric"></th>
                     <th @click="sortList('usingAmount')" v-html="showKeySorting('使用中', 'usingAmount')"></th>
                     <th @click="sortList('lostAmount')" v-html="showKeySorting('遺失', 'lostAmount')"></th>
                     <th @click="sortList('totalUsageAmount')" v-html="showKeySorting('累計', 'totalUsageAmount')"></th>
                  </tr>
               </thead>
               <tbody v-if="userList.length === 0">
                  <tr>
                     <td colspan="4" class="table-no-data">尚無資料</td>
                  </tr>
               </tbody>
               <tbody v-else>
                  <tr @click="aRecordClickListener('user', aUser.id)" v-for="aUser in userList.slice((listRendering.baseIndex - 1) * listRendering.rawCapacity, listRendering.baseIndex * listRendering.rawCapacity)">
                     <td class="mdl-data-table__cell--non-numeric" v-html="listMatchCtx(aUser.phone)"></td>
                     <td>{{aUser.usingAmount}}</td>
                     <td :class="{warning:aUser.lostAmount>0}">{{aUser.lostAmount}}</td>
                     <td>{{aUser.totalUsageAmount}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="mdl-cell mdl-cell--12-col switcher-spacer"></div>
         <div tabindex="-1" v-show="listRendering.rawCapacity < userList.length" class="table-page-switcher">
            <div class="table-page-switcher-container">
               <span :class="{disabled: listRendering.baseIndex === 1}" @click="flipPage('last')"><i class="material-icons" role="presentation">navigate_before</i></span>
               <span>{{listRendering.baseIndex}}｜{{Math.ceil(userList.length / listRendering.rawCapacity)}}</span>
               <span :class="{disabled: listRendering.baseIndex === Math.ceil(userList.length / listRendering.rawCapacity)}" @click="flipPage('next')"><i class="material-icons" role="presentation">navigate_next</i></span>
            </div>
         </div>
      </section>
      <section v-if="user.show" :class="{'is-display':userDetail.show}" id="user-detail">
         <div class="mdl-grid main-content">
            <div :class="{'is-expanded':userDetail.expand}" class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-detail-container">
               <div @click="userDetail.expand = !userDetail.expand" class="content-block content-block-detail-outer mdl-color--white mdl-js-button mdl-js-ripple-effect">
                  <span class="content-block-detail">
                     <span class="content-block-inline"><i class="material-icons" role="presentation">person</i>{{userDetail.data.userPhone}}</span>
                     <span><span>使用中</span><span>{{userDetail.data.usingAmount}}</span></span>
                     <span><span>遺失</span><span :class="{warning:userDetail.data.lostAmount>0}">{{userDetail.data.lostAmount}}</span></span>
                     <span><span>累計使用量</span><span>{{userDetail.data.totalUsageAmount}}</span></span>
                  </span>
                  <span><i class="material-icons" role="presentation">{{userDetail.expand? 'expand_less' : 'expand_more'}}</i></span>
               </div>
               <div class="content-block content-block-detail-footer">
                  <div>
                     <button type="button" class="mdl-chip detail-active-button">
                        <span class="mdl-chip__text">Active<i class="material-icons" role="presentation">expand_more</i></span>
                     </button>
                     <span class="mdl-chip">
                        <span class="mdl-chip__text">加入日期: {{userDetail.data.joinedDate | dateToString('only_date')}} ({{(Date.now() - new Date(userDetail.data.joinedDate).valueOf()) | durationToString}})</span>
                     </span>
                     <span class="mdl-chip">
                        <span class="mdl-chip__text">管道: {{userDetail.data.joinedMethod}}</span>
                     </span>
                  </div>
                  <button class="mdl-button mdl-js-button mdl-button--raised detail-edit-button">
                     編輯
                  </button>
               </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
               <span class="content-block-data"><span>本週使用量</span><span :class="{warning:userDetail.data.recentAmountPercentage<0}">{{userDetail.data.recentAmount}}<span class="data-percentage" v-html="numberToPercentage(userDetail.data.recentAmountPercentage, 'withArrow')"></span></span>
               </span>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
               <span class="content-block-data"><span>每週平均使用量</span><span>{{userDetail.data.weekAverage}}</span></span>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
               <span class="content-block-data"><span>平均占用時間</span><span>{{userDetail.data.averageUsingDuration | durationToString}}</span></span>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-color--white mdl-shadow--2dp content-block">
               <span class="content-block-data"><span>A借B還</span><span>{{userDetail.data.amountOfBorrowingFromDiffPlace}}<span class="data-percentage">{{(userDetail.data.amountOfBorrowingFromDiffPlace / userDetail.data.totalUsageAmount) |
                        numberToPercentage}}</span></span>
               </span>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
               <table class="mdl-data-table mdl-js-data-table">
                  <thead>
                     <tr>
                        <th @click="sortList('containerID', 'serial')" v-html="showKeySorting('容器', 'containerID')" class="mdl-data-table__cell--non-numeric"></th>
                        <th @click="sortList('rentTime', 'time')" v-html="showKeySorting('使用', 'rentTime')" class="mdl-data-table__cell--non-numeric"></th>
                        <th @click="sortList('returnTime', 'time')" v-html="showKeySorting('歸還', 'returnTime')" class="mdl-data-table__cell--non-numeric"></th>
                        <th @click="sortList('usingDuration', 'time')" v-html="showKeySorting('佔用時間', 'usingDuration')" class="mdl-data-table__cell--non-numeric"></th>
                     </tr>
                  </thead>
                  <tbody v-if="userDetailHistory.length === 0">
                     <tr>
                        <td colspan="4" class="table-no-data">尚無資料</td>
                     </tr>
                  </tbody>
                  <tbody v-else>
                     <tr v-for="aRecord in userDetailHistory.slice((listRendering.baseIndex - 1) * listRendering.rawCapacity, listRendering.baseIndex * listRendering.rawCapacity)">
                        <td class="mdl-data-table__cell--non-numeric">{{aRecord.containerType}}<br>{{aRecord.containerID}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{aRecord.rentTime | dateToString("with_day")}}<br>{{aRecord.rentPlace}}</td>
                        <td :class="{warning:aRecord.returnTime=='尚未歸還'}" class="mdl-data-table__cell--non-numeric">{{aRecord.returnTime | dateToString("with_day")}}<br v-if="aRecord.returnPlace">{{aRecord.returnPlace}}</td>
                        <td :class="{warning:aRecord.returnTime=='尚未歸還'}" class="mdl-data-table__cell--non-numeric">{{aRecord.usingDuration | durationToString}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="mdl-cell mdl-cell--12-col switcher-spacer"></div>
            <div tabindex="-1" v-show="listRendering.rawCapacity < userDetailHistory.length" class="table-page-switcher">
               <div class="table-page-switcher-container">
                  <span :class="{disabled: listRendering.baseIndex === 1}" @click="flipPage('last')"><i class="material-icons" role="presentation">navigate_before</i></span>
                  <span>{{listRendering.baseIndex}}｜{{Math.ceil(userDetailHistory.length / listRendering.rawCapacity)}}</span>
                  <span :class="{disabled: listRendering.baseIndex === Math.ceil(userDetailHistory.length / listRendering.rawCapacity)}" @click="flipPage('next')"><i class="material-icons" role="presentation">navigate_next</i></span>
               </div>
            </div>
         </div>
      </section>
      <section v-if="container.show" :class="{'is-hide':containerDetail.show}" class="mdl-grid main-content" id="container">
         <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
            <table class="mdl-data-table mdl-js-data-table">
               <thead>
                  <tr>
                     <th @click="sortList('id')" v-html="showKeySorting('類別', 'id')" class="mdl-data-table__cell--non-numeric"></th>
                     <th @click="sortList('totalAmount')" v-html="showKeySorting('總量', 'totalAmount')"></th>
                     <th @click="sortList('toUsedAmount')" v-html="showKeySorting('待使用', 'toUsedAmount')"></th>
                     <th @click="sortList('usingAmount')" v-html="showKeySorting('使用中', 'usingAmount')"></th>
                     <th @click="sortList('returnedAmount')" v-html="showKeySorting('已歸還', 'returnedAmount')"></th>
                     <th @click="sortList('toCleanAmount')" v-html="showKeySorting('待清洗', 'toCleanAmount')"></th>
                     <th @click="sortList('toDeliveryAmount')" v-html="showKeySorting('待配送', 'toDeliveryAmount')"></th>
                     <th @click="sortList('toSignAmount')" v-html="showKeySorting('待簽收', 'toSignAmount')"></th>
                     <th @click="sortList('inStorageAmount')" v-html="showKeySorting('庫存', 'inStorageAmount')"></th>
                     <th @click="sortList('lostAmount')" v-html="showKeySorting('遺失', 'lostAmount')"></th>
                  </tr>
               </thead>
               <tbody v-if="container.data.list.length === 0">
                  <tr>
                     <td colspan="9" class="table-no-data">尚無資料</td>
                  </tr>
               </tbody>
               <tbody v-else>
                  <tr v-for="(aContainerType, index) in container.data.list.slice((listRendering.baseIndex - 1) * listRendering.rawCapacity, listRendering.baseIndex * listRendering.rawCapacity)">
                     <td class="mdl-data-table__cell--non-numeric">{{aContainerType.type}}</td>
                     <td>{{aContainerType.totalAmount}}</td>
                     <td>{{aContainerType.toUsedAmount}}</td>
                     <td>{{aContainerType.usingAmount}}</td>
                     <td>{{aContainerType.returnedAmount}}</td>
                     <td>{{aContainerType.toCleanAmount}}</td>
                     <td>{{aContainerType.toDeliveryAmount}}</td>
                     <td>{{aContainerType.toSignAmount}}</td>
                     <td>{{aContainerType.inStorageAmount}}</td>
                     <td :class="{warning:aContainerType.lostAmount > 0}">{{aContainerType.lostAmount}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="mdl-cell mdl-cell--12-col switcher-spacer"></div>
         <div tabindex="-1" v-show="listRendering.rawCapacity < container.data.list.length" class="table-page-switcher">
            <div class="table-page-switcher-container">
               <span :class="{disabled: listRendering.baseIndex === 1}" @click="flipPage('last')"><i class="material-icons" role="presentation">navigate_before</i></span>
               <span>{{listRendering.baseIndex}}｜{{Math.ceil(container.data.list.length / listRendering.rawCapacity)}}</span>
               <span :class="{disabled: listRendering.baseIndex === Math.ceil(container.data.list.length / listRendering.rawCapacity)}" @click="flipPage('next')"><i class="material-icons" role="presentation">navigate_next</i></span>
            </div>
         </div>
      </section>
      <section v-if="container.show" :class="{'is-display':containerDetail.show}" id="container-detail">
         <div class="mdl-grid main-content">
            <div :class="{'is-expanded':containerDetail.expand}" class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-detail-container">
               <div @click="containerDetail.expand = !containerDetail.expand" class="content-block content-block-detail-outer mdl-color--white mdl-js-button mdl-js-ripple-effect">
                  <span class="content-block-detail">
                     <span class="content-block-inline"><span :class="'container-' + containerDetail.data.containerType.code" class="goodtogo-icons"></span>{{containerDetail.data.containerID}}　{{containerDetail.data.containerType.txt}}</span>
                     <span><span>循環次數</span><span>{{containerDetail.data.reuseTime}}</span></span>
                     <span class="mdl-chip">
                        <span class="mdl-chip__text">{{containerDetail.data.status}}</span>
                     </span>
                     <span><span>@</span><span>{{containerDetail.data.bindedUser}}</span></span>
                  </span>
                  <span><i class="material-icons" role="presentation">{{userDetail.expand? 'expand_less' : 'expand_more'}}</i></span>
               </div>
               <div class="content-block content-block-detail-footer">
                  <div>
                     <button type="button" class="mdl-chip detail-active-button">
                        <span class="mdl-chip__text">Active<i class="material-icons" role="presentation">expand_more</i></span>
                     </button>
                     <span class="mdl-chip">
                        <span class="mdl-chip__text">啟用日期: {{containerDetail.data.joinedDate | dateToString('only_date')}} ({{(Date.now() - new Date(containerDetail.data.joinedDate).valueOf()) | durationToString}})</span>
                     </span>
                  </div>
                  <button class="mdl-button mdl-js-button mdl-button--raised detail-edit-button">
                     <span class="mdl-chip__text">編輯</span>
                  </button>
               </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col content-title">
               <span class="content-title-history"><i class="material-icons" role="presentation">update</i>使用紀錄</span>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
               <table class="mdl-data-table mdl-js-data-table">
                  <thead>
                     <tr>
                        <th @click="sortList('tradeTime', 'time')" v-html="showKeySorting('時間', 'tradeTime')" class="mdl-data-table__cell--non-numeric"></th>
                        <th @click="sortList('action', 'string')" v-html="showKeySorting('狀態', 'action')" class="mdl-data-table__cell--non-numeric"></th>
                        <th @click="sortList('newUser', 'string')" v-html="showKeySorting('擁有者', 'newUser')" class="mdl-data-table__cell--non-numeric"></th>
                        <th @click="sortList('oriUser', 'string')" v-html="showKeySorting('經手人', 'oriUser')" class="mdl-data-table__cell--non-numeric"></th>
                        <th @click="sortList('comment', 'string')" v-html="showKeySorting('備註', 'comment')" class="mdl-data-table__cell--non-numeric"></th>
                     </tr>
                  </thead>
                  <tbody v-if="containerDetailHistory.length === 0">
                     <tr>
                        <td colspan="5" class="table-no-data">尚無資料</td>
                     </tr>
                  </tbody>
                  <tbody v-else>
                     <tr v-for="aRecord in containerDetailHistory.slice((listRendering.baseIndex - 1) * listRendering.rawCapacity, listRendering.baseIndex * listRendering.rawCapacity)">
                        <td class="mdl-data-table__cell--non-numeric">{{aRecord.tradeTime | dateToString}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{aRecord.action}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{aRecord.newUser}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{aRecord.oriUser}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{aRecord.comment}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="mdl-cell mdl-cell--12-col switcher-spacer"></div>
            <div tabindex="-1" v-show="listRendering.rawCapacity < containerDetailHistory.length" class="table-page-switcher">
               <div class="table-page-switcher-container">
                  <span :class="{disabled: listRendering.baseIndex === 1}" @click="flipPage('last')"><i class="material-icons" role="presentation">navigate_before</i></span>
                  <span>{{listRendering.baseIndex}}｜{{Math.ceil(containerDetailHistory.length / listRendering.rawCapacity)}}</span>
                  <span :class="{disabled: listRendering.baseIndex === Math.ceil(containerDetailHistory.length / listRendering.rawCapacity)}" @click="flipPage('next')"><i class="material-icons" role="presentation">navigate_next</i></span>
               </div>
            </div>
         </div>
      </section>
      <section v-if="delivery.show" :class="{'is-hide':containerDetail.show}" class="mdl-grid main-content" id="delivery">
         <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
            <table class="mdl-data-table mdl-js-data-table">
               <thead>
                  <tr>
                     <th class="mdl-data-table__cell--non-numeric">編號</th>
                     <th class="mdl-data-table__cell--non-numeric">名稱</th>
                     <th class="mdl-data-table__cell--non-numeric">內容</th>
                     <th class="mdl-data-table__cell--non-numeric">備註</th>
                     <th>件數</th>
                     <th class="mdl-data-table__cell--non-numeric">狀態</th>
                     <th class="mdl-data-table__cell--non-numeric">建立時間</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                     <td class="mdl-data-table__cell--non-numeric">25</td>
                     <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                     <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                     <td>$2.90</td>
                     <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                     <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                  </tr>
                  <tr>
                     <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                     <td class="mdl-data-table__cell--non-numeric">50</td>
                     <td class="mdl-data-table__cell--non-numeric">$1.25</td>
                     <td class="mdl-data-table__cell--non-numeric">$1.90</td>
                     <td>$2.90</td>
                     <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                     <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                  </tr>
                  <tr>
                     <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                     <td class="mdl-data-table__cell--non-numeric">10</td>
                     <td class="mdl-data-table__cell--non-numeric">$2.35</td>
                     <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                     <td>$2.90</td>
                     <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                     <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </section>
      <section v-if="delivery.show" :class="{'is-display':deliveryDetail.show}" id="delivery-detail">
         <div class="mdl-grid main-content">
            <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-detail-container is-expanded">
               <div class="content-block content-block-detail-outer mdl-color--white">
                  <span class="content-block-detail">
                     <span class="content-block-inline"><span class="goodtogo-icons container-1"></span>#017　16oz杯子</span>
                     <span class="mdl-chip">
                        <span class="mdl-chip__text">使用中</span>
                     </span>
                     <p>2018-07-02 上午 10:00</br>由 0921630931 建立</p>
                  </span>
               </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col content-title">
               <span class="content-title-history"><i class="material-icons" role="presentation">update</i>使用紀錄</span>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp content-block-table">
               <table class="mdl-data-table mdl-js-data-table">
                  <thead>
                     <tr>
                        <th class="mdl-data-table__cell--non-numeric">時間</th>
                        <th class="mdl-data-table__cell--non-numeric">狀態</th>
                        <th class="mdl-data-table__cell--non-numeric">擁有者</th>
                        <th class="mdl-data-table__cell--non-numeric">經手人</th>
                        <th class="mdl-data-table__cell--non-numeric">備註</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                        <td class="mdl-data-table__cell--non-numeric">25</td>
                        <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                        <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                        <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                     </tr>
                     <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                        <td class="mdl-data-table__cell--non-numeric">50</td>
                        <td class="mdl-data-table__cell--non-numeric">$1.25</td>
                        <td class="mdl-data-table__cell--non-numeric">$1.90</td>
                        <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                     </tr>
                     <tr>
                        <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                        <td class="mdl-data-table__cell--non-numeric">10</td>
                        <td class="mdl-data-table__cell--non-numeric">$2.35</td>
                        <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                        <td class="mdl-data-table__cell--non-numeric">$2.90</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </section>
   </main>
   <div id="toast" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
   </div>
</div>