.goodtogo-icons {
    height: 24px;
    width: 24px;
    display: inline-block;
    background: url("/manager/assets/icon/99.png");
}

.goodtogo-icons.container-0 {
    background: url("/manager/assets/icon/00.png");
}

.goodtogo-icons.container-1 {
    background: url("/manager/assets/icon/01.png");
}

.goodtogo-icons.container-2 {
    background: url("/manager/assets/icon/02.png");
}