@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
html,
body,
.mdl-textfield__input,
.mdl-button {
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

.title {
    vertical-align: middle;
    text-align: center;
}

.drawer {
    border: none;
}

.drawer .drawer-header {
    padding: 0;
    height: 120px;
}

.mini-icon {
    width: 240px;
    height: auto;
}

.drawer-header {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    padding: 50px 16px;
    background-color: #40B9D8;
}

.drawer-link {
    position: relative;
}

header.header {
    background-color: rgb(158, 158, 158);
}

.searchbar-form {
    height: 80%;
    padding: 10px;
    box-sizing: border-box;
}

.searchbar-form .material-icons {
    color: #9e9e9e;
}

.searchbar-field {
    padding: 0px;
    color: #727272;
}

.searchbar-field .mdl-textfield__label {
    top: 4px;
}

.searchbar-field.is-focused .mdl-textfield__label,
.searchbar-field.is-dirty .mdl-textfield__label {
    top: -14px;
}

.searchbar-field .mdl-textfield__label:after {
    bottom: 0px;
}

.navigation .mdl-navigation__link.is-active {
    color: #40B9D8;
}

.navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    margin-right: 16px;
}

.content-block .content-block-inline .material-icons,
.content-block .content-block-data .material-icons,
.content-block .content-block-inline .goodtogo-icons {
    margin-right: 15px;
}

.content-block .content-block-data .data-percentage {
    margin-left: 5px;
    font-size: 14px !important;
}

.content-block .content-block-data .data-percentage .material-icons {
    margin-right: 0;
    font-size: 14px;
}

.navigation a {
    cursor: default;
}

.nav-menu a {
    width: 100%;
    height: 100%;
    display: block;
}

.nav-menu a:link,
.nav-menu a:visited,
.nav-menu a:hover,
.nav-menu a:active {
    color: inherit;
    text-decoration: inherit;
}

.main-content {
    max-width: 1080px;
    display: none;
    /* color: #727272; */
}

.main-content.is-active {
    display: flex;
}

.content-title .mdl-button {
    font-weight: normal;
    color: #727272;
}

.content-title i:first-of-type {
    padding-right: 10px;
}

.content-title .mdl-button i:last-of-type {
    padding-left: 10px;
}

.content-block {
    padding: 10px 15px;
}

#search-result .content-block {
    display: none;
}

#search-result .content-block.is-active {
    display: block;
    font-weight: normal;
}

.content-block .content-block-inline,
.content-block .content-block-data,
.content-block .content-block-detail {
    height: 36px;
    line-height: 36px;
}

.content-block .content-block-data span:last-of-type {
    color: #40B9D8;
}

span.warning,
td.warning {
    color: #FF6161 !important;
}

.content-block-table {
    overflow-x: auto;
}

.content-block-table table {
    width: 100%;
}

.content-block-detail,
.content-block-data {
    display: flex;
    justify-content: space-between;
}

.content-block-detail>span>span:nth-of-type(2) {
    margin-left: 16px;
    color: #40B9D8;
}

.content-block-detail-outer {
    display: flex;
}

.content-block-detail-outer .content-block-detail {
    flex-grow: 1;
    margin-right: 15px;
}

.content-block-detail-outer .material-icons {
    height: 36px;
    line-height: 36px;
}

.content-block-detail-footer {
    display: none;
}

.content-block-detail-container {
    overflow-x: auto;
    background-color: #F1F1F1;
}

.content-block-detail-container.is-expanded .content-block-detail-footer {
    display: flex;
    justify-content: space-between;
}

.content-block-detail-container .content-block-detail-outer {
    min-width: 400px;
    box-sizing: border-box;
}

.content-block-detail-container.is-expanded .content-block-detail-outer,
.content-block-detail-container.is-expanded .content-block-detail-footer {
    min-width: 610px;
    box-sizing: border-box;
}

#container-detail .content-block-detail-container .content-block-detail-outer,
#container-detail .content-block-detail-container .content-block-detail-footer {
    min-width: 440px;
    box-sizing: border-box;
}

#delivery-detail .content-block-detail-container .content-block-detail-outer {
    min-width: 430px;
    box-sizing: border-box;
}

.content-block-detail-footer .mdl-chip:not(:first-child) {
    margin-left: 15px;
}

.detail-active-button {
    background-color: #B8E986;
    color: white;
    padding-right: 8px;
}

.detail-active-button .material-icons {
    margin-left: 4px;
}

.detail-isactive-list {
    font-size: 13px;
}

.detail-edit-button {
    height: 32px;
    line-height: 32px;
    background-color: #9BD6E4;
    color: white;
    font-weight: normal;
    float: right;
}

.content-title .material-icons,
.content-block .material-icons,
.content-block .goodtogo-icons,
th .material-icons {
    vertical-align: middle;
}

th .material-icons {
    font-size: 18px;
}

.content-block-detail .mdl-chip {
    border: 1px solid #dedede;
    background-color: white;
    color: #40B9D8
}

.content-block-detail p {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    font-weight: lighter;
    /* letter-spacing: 1px; */
    color: rgba(0, 0, 0, 0.38);
}

.content-title .content-title-history {
    padding: 5px 16px 0 16px;
}

.searchbar-form {
    width: calc(100% - 48px);
    max-width: 360px;
}

.searchbar-field {
    width: calc(100% - 36px);
    max-width: 300px;
}

@media (max-width: 659px) {
    .content-block-detail-container {
        min-width: unset !important;
    }
}

@media (max-width: 868px) {
    .content-block-detail-container {
        min-width: 610px;
    }
    .content-block.content-block-spacer {
        display: none;
    }
}

@media (max-width: 1024px) {
    .searchbar-form {
        padding: 6px 10px;
    }
    .searchbar-field .mdl-textfield__label {
        transition-duration: 0s;
        transition-timing-function: unset;
    }
    .searchbar-field.is-focused .mdl-textfield__label,
    .searchbar-field.is-dirty .mdl-textfield__label {
        visibility: hidden;
    }
}

@media (min-width:1025px) {
    .content-block.content-block-spacer {
        display: none;
    }
    .content-block-detail-container {
        min-width: 610px;
    }
}

@media (min-width: 1107px) {
    .content-block.content-block-spacer {
        display: block;
    }
}